<html>
      <head>
            <meta charset="utf-8">
            <title>{% block title %}MBlog{% endblock %}</title>

            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <style type="text/css"> body { padding-top: 60px; } </style>
            
            {% block extra_styles %}{% endblock %}
            <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
            {% block extra_scripts %}{% endblock %}
      </head>
      <body>

            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                  <div class="container">
                        <div class="navbar-header">
                              <button type="button" class="navbar-toggle" 
                                    data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              </button>

                        </div>
                        <div class="collapse navbar-collapse">
                              <ul class="nav navbar-nav">


                                    <li><a href=" {{ url_for('index') }} " class="navbar-brand">MBlog</a></li>
                                    


                                    {% if g.user.is_authenticated %}
                                          <li><a href=" {{ url_for('logout') }} ">
                                                Log Out
                                          </a></li>
                                    {% else %}
                                          <li><a href="{{ url_for('login') }}">
                                                Log in
                                          </a></li>
                                          <li><a href="{{ url_for('register') }}">
                                                Register
                                          </a></li>
                                    {% endif %}

                                    <li><a href="{{ url_for('all_users') }}"> All Users </a></li>
                              </ul>
                        </div>
                  </div>
            </div>

            <div class="content">
                  
                  <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-8">
                              {% block header %}
                                    {% for category, message in get_flashed_messages(with_categories=true) %}
                                    <div class="alert alert-dismissable alert-{{ category }}">
                                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                                          {{ message }}
                                    </div>
                                          {% if g.user.is_authenticated %}
                                                <a href="{{ url_for('users.profile', id = g.user.id) }}">   
                                                      {{g.user.name}}
                                                </a>
                                          {% endif %}
	                              {% endfor %}

                              {% endblock %}
                        </div>
                  </div>
                  <hr>
                  <div class="row">
                        <div class="col-md-1"></div>
                        <div class=col-md-3>
                              {% block profile %} {% endblock %}
                        </div>
                        <div class=col-md-7>
                              {% block content %}{% endblock %}
                        </div>
                        <div class="col-md-1"></div>

                  </div>
            </div>



      </body>
</html>