{% extends "base.html" %}
{% block header %} 

<div class="jumbotron">
  <h1>Welcome to MBlog</h1>
      <p>
            minimalistic web-application for managing your own blog!
      </p>
        <p><a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button">Register</a>
            <a class="btn btn-success btn-lg" href="{{url_for('login')}}" role="button">Log In</a>
        </p>
</div>


{% endblock %}





