{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block header %} 

      <form action="" enctype="multipart/form-data" class = "form form-horizontal" method="POST">
            {% for field in form %}
                  {{form_field(field)}}
            {% endfor %}

           <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Upload</button>
                        <a class="btn" href="{{ url_for('index')}}">Cancel</a>
                  </div>
            </div>

      </form>


{% endblock %}

{% block content %}
      {{user.name}}
{% endblock %}